/report/*
/allure-result/*
/TestCase/StockQuotation/OptionalStock/report/*
/TestCase/StockQuotation/KLine/NewdayKline/report/*
/TestCase/UserRelatedapi/report/*
/TestCase/StockQuotation/KLine/AfterPowerFactor/report/*
