/report/*
/allure-result/*
/TestCase/StockQuotation/OptionalStock/report/*
/TestCase/StockQuotation/KLine/NewdayKline/report/*
/TestCase/UserRelatedapi/report/*
/TestCase/StockQuotation/KLine/AfterPowerFactor/report/*
/TestCase/StockQuotation/HKstockRelevance/report/*
/TestCase/StockQuotation/KLine/FivedayKlineV2/report/*
/TestCase/StockQuotation/HSGTstockRelevance/report/*
/TestCase/StockQuotation/Allstock/report/*
/TestCase/Notification/MessageCenter/report/*
/TestCase/Community/report/*
/TestCase/SharesOfRemind/report/*
/TestCase/Account/repor/*
/TestCase/Account/AccountConsole/report/*
/TestCase/Account/AccountUpdata/report/*
/TestCase/Account/OpenAccount/report/*
/TestCase/CommonInfo/report/*
/TestCase/ConsoleManagement/ContentManagement/report/*
/TestCase/ConsoleManagement/EventManagement/report/*
/TestCase/ConsoleManagement/InformationManagement/report/*
/TestCase/Counter/HSAccountAnalysis/report/*
/TestCase/Counter/HSChuRuJin/report/*
/TestCase/Counter/HSCommon/report/*
/TestCase/Counter/HSCustomerInfo/report/*
/TestCase/Counter/HSIPORelevant/report/*
/TestCase/Counter/HSMoneyExchange/report/*
/TestCase/Counter/HSMoneyExchangeConsole/report/*
/TestCase/Console/report/*
/TestCase/Console/get_ConUserInfo/report/*
/TestCase/StockQuotation/KLine/report/*
/TestCase/Console/usersystem/report/*