/report/*
/allure-result/*
/TestCase/StockQuotation/OptionalStock/report/*
/TestCase/StockQuotation/KLine/NewdayKline/report/*
/TestCase/StockQuotation/KLine/report/*
/TestCase/StockQuotation/KLine/AfterPowerFactor/report/*
/TestCase/StockQuotation/HKstockRelevance/report/*
/TestCase/StockQuotation/KLine/FivedayKlineV2/report/*
/TestCase/StockQuotation/HSGTstockRelevance/report/*
/TestCase/StockQuotation/Allstock/report/*
/TestCase/StockQuotation/USstockRelevance/report/*
/TestCase/StockQuotation/StocksDetails/report/*
/TestCase/StockQuotation/SharesOfRemind/report/*
/TestCase/UserRelatedapi/report/*
/TestCase/UserRelatedapi/HomeInfo/report/*
/TestCase/StockQuotation/AstockRelevance/report/*
/TestCase/Notification/MessageCenter/report/*
/TestCase/Notification/SMS/report/*
/TestCase/Notification/Recommendedstockapp/report/*
/TestCase/Community/report/*
/TestCase/SharesOfRemind/report/*
/TestCase/Account/repor/*
/TestCase/Account/AccountConsole/report/*
/TestCase/Account/AccountUpdata/report/*
/TestCase/Account/OpenAccount/report/*
/TestCase/Account/AccountConsole/AccountConsoleDetail/report/*
/TestCase/Account/AccountConsole/AccountConsoleAudit/report/*
/TestCase/Account/AccountConsole/AccountConsoleList/report/*
/TestCase/Account/AccountConsole/AccountConsoleEndAudit/report/*
/TestCase/Account/AccountConsole/AccountConsoleFirstAudit/report/*
/TestCase/Account/AccountOpen/report/*
/TestCase/CommonInfo/report/*
/TestCase/Console/report/*
/TestCase/Console/ConOpenActive/report/*
/TestCase/Console/Conopen/report/*
/TestCase/Console/usersystem/report/*
/TestCase/StockSelectionDevice/report/*
/TestCase/SimulatedStock/report/*

/TestCase/ConsoleManagement/ContentManagement/report/*
/TestCase/ConsoleManagement/EventManagement/report/*
/TestCase/ConsoleManagement/InformationManagement/report/*
/TestCase/ConsoleManagement/EventManagement/VoucherRights/ConActivity/report/*
/TestCase/ConsoleManagement/EventManagement/VoucherRights/report/*
/TestCase/ConsoleManagement/InformationManagement/AppIM/report/*
/TestCase/ConsoleManagement/EventManagement/VoucherRights/ConDistribute/report/*
/TestCase/ConsoleManagement/EventManagement/VoucherRights/ConParentCard/report/*
/TestCase/ConsoleManagement/EventManagement/VoucherRights/ConCard/report/*
/TestCase/ConsoleManagement/report/*
/TestCase/ConsoleManagement/EventManagement/conUserGroupImport/report/*
/TestCase/Counter/HSAccountAnalysis/report/*
/TestCase/Counter/HSChuRuJin/report/*
/TestCase/Counter/HSCommon/report/*
/TestCase/Counter/HSCustomerInfo/report/*
/TestCase/Counter/HSIPORelevant/report/*
/TestCase/Counter/HSMoneyExchange/report/*
/TestCase/Counter/HSMoneyExchangeConsole/report/*
/TestCase/Counter/RInvestmentStrategyInvestment/report/*
/TestCase/Counter/HSOrder/report/*
/TestCase/Counter/HSTradingRecord/report/*
/TestCase/Transaction/report/*
/TestCase/hotstocks/report/*


